#heading_calc {
  display: inherit;
  margin: 0;
  padding: 10px 0 10px;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  color: #00cc33;
}
#state_text {
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 3px;
  color: #000;
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
.tbl {
  border-collapse: collapse;
  border: 1px solid #dee2e6;
}
td {
  height: 15px;
  padding: 3px;
}
th {
  background-color: #d0d0d0;
}
.column_1 {
  background: #111111;
  text-align: left;
  vertical-align: top;
}
.column_11 {
  background: #a7d8f6;
  text-align: left;
  vertical-align: top;
}
.column_2 {
  background: #000;
  text-align: left;
  vertical-align: top;
}
.left_div_column_lbl {
  text-align: right;
  padding: 5px;
}
.left_div_column_slider_td {
  text-align: left;
  padding: 5px;
}
.right_div_column_2 {
  background: #000;
  text-align: left;
  vertical-align: top;
  width: 200px;
}
.column_1_slider_lbl {
  text-align: left;
  vertical-align: top;
}
.assume {
  font-size: 12px;
  color: #999;
}
.irs-grid-text {
  color: #007ea8;
  font-size: 11px;
}
.irs-grid-pol {
  background: #007ea8;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #cecece;
}
.custom_label {
  padding: 0.2em 0.6em 0.3em;
}
.custom_disable {
  cursor: not-allowed;
}

--------------------------------------------------------------*/ .site-footer {
  background-color: #f7f9fb;
  background-image: url("../images/dots.png");
  background-size: cover;
  position: relative;
  font-size: 15px;
  overflow: hidden;
  /*** about-widget ***/
  /*** link-widget ***/
  /*** contact-widget ***/
  /*** newsletter-widget ***/
  /*** lower-footer ***/
}

.site-footer ul {
  list-style: none;
}

.site-footer p,
.site-footer li {
  color: #545050;
}

.site-footer .upper-footer {
  padding: 90px 0;
}

@media (max-width: 991px) {
  .site-footer .upper-footer {
    padding: 90px 0 20px;
  }
}

@media (max-width: 767px) {
  .site-footer .upper-footer {
    padding: 80px 0 10px;
  }
}

@media (max-width: 991px) {
  .site-footer .upper-footer .col {
    min-height: 235px;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .site-footer .upper-footer .col {
    min-height: auto;
    margin-bottom: 60px;
  }
}

.site-footer .widget-title {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .site-footer .widget-title {
    margin-bottom: 20px;
  }
}

.site-footer .widget-title h3 {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  padding-bottom: 0.4em;
  text-transform: capitalize;
  position: relative;
}

@media (max-width: 991px) {
  .site-footer .widget-title h3 {
    padding-bottom: 0;
  }
}

.site-footer .about-widget .logo {
  max-width: 180px;
}

.site-footer .about-widget p {
  margin-bottom: 0.8em;
  line-height: 1.9em;
}

.site-footer .about-widget p:last-child {
  margin-bottom: 0;
}

.site-footer .about-widget .social-icons {
  overflow: hidden;
}

@media (max-width: 991px) {
  .site-footer .about-widget .social-icons {
    float: none;
    display: block;
    text-align: center;
  }
}

.site-footer .about-widget .social-icons ul {
  overflow: hidden;
  list-style: none;
}

@media (max-width: 991px) {
  .site-footer .about-widget .social-icons ul {
    display: inline-block;
  }
}

.site-footer .about-widget .social-icons ul li {
  float: left;
}

.site-footer .about-widget .social-icons ul > li + li {
  margin-left: 15px;
}

.site-footer .about-widget .social-icons ul a {
  font-size: 14px;
  font-size: 0.875rem;
  color: #131e4a;
}

.site-footer .about-widget .social-icons ul a:hover {
  color: #fd5f17;
}

.site-footer .link-widget {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .site-footer .link-widget {
    padding-left: 20px;
  }
}

@media (max-width: 1199px) {
  .site-footer .link-widget {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .site-footer .link-widget {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .site-footer .link-widget {
    max-width: 350px;
  }
}

.site-footer .link-widget ul {
  width: 50%;
  float: left;
}

.site-footer .link-widget ul li {
  position: relative;
}

.site-footer .link-widget ul a {
  color: #131e4a;
  font-weight: 500;
}

.site-footer .link-widget ul a:hover,
.site-footer .link-widget ul li:hover:before {
  text-decoration: underline;
}

.site-footer .link-widget ul > li + li {
  margin-top: 15px;
}

@media screen and (min-width: 1200px) {
  .site-footer .contact-widget {
    padding-left: 25px;
  }
}

.site-footer .contact-widget ul {
  margin-top: 25px;
}

.site-footer .contact-widget ul li {
  position: relative;
}

.site-footer .contact-widget ul > li + li {
  margin-top: 15px;
}

.site-footer .contact-widget li span {
  color: #131e4a;
  font-weight: 500;
}

.site-footer .newsletter-widget form {
  margin-top: 25px;
  position: relative;
}

.site-footer .newsletter-widget form input {
  background-color: #000;
  height: 50px;
  color: #777777;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid #dcdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.site-footer .newsletter-widget form .submit {
  position: absolute;
  right: 20px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.site-footer .newsletter-widget form .submit button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: #fd5f17;
  margin-top: -2px;
  position: relative;
  right: -5px;
}

.site-footer .lower-footer {
  text-align: center;
  position: relative;
}

.site-footer .lower-footer .row {
  padding: 20px 0;
  position: relative;
  
}

.site-footer .lower-footer .row .separator {
  background: #e8e8e8;
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  left: 15px;
  top: 0;
}

.site-footer .lower-footer .copyright {
  display: inline-block;
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer .lower-footer .copyright {
    float: none;
    display: block;
    margin: 0 0 20px;
  }
}

.site-footer .lower-footer .copyright a {
  color: #000;
  text-decoration: underline;
}

.site-footer .lower-footer .extra-link {
  display: inline-block;
  float: right;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', fantasy, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 991px) {
  .site-footer .lower-footer .extra-link {
    float: none;
    display: block;
    text-align: center;
  }
}

.site-footer .lower-footer .extra-link ul {
  overflow: hidden;
  list-style: none;
}

@media (max-width: 991px) {
  .site-footer .lower-footer .extra-link ul {
    display: inline-block;
  }
}

.site-footer .lower-footer .extra-link ul li {
  float: left;
}

.site-footer .lower-footer .extra-link ul > li + li {
  margin-left: 35px;
  position: relative;
}

@media (max-width: 767px) {
  .site-footer .lower-footer .extra-link ul > li + li {
    margin-left: 15px;
  }
}

.site-footer .lower-footer .extra-link ul > li + li:before {
  content: "";
  background: #131e4a;
  width: 15px;
  height: 1px;
  position: absolute;
  left: -25px;
  top: 11px;
}

@media (max-width: 767px) {
  .site-footer .lower-footer .extra-link ul > li + li:before {
    display: none;
  }
}

.site-footer .lower-footer .extra-link ul a {
  font-size: 14px;
  font-size: 0.875rem;
  color: #131e4a;
}

.site-footer .lower-footer .extra-link ul a:hover {
  text-decoration: underline;
}

.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: -200px;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.sticky-on {
  opacity: 1;
  top: 0;
}

.header-style-1 .sticky-header,
.header-style-2 .sticky-header,
.header-style-3 .sticky-header {
  background: #131e4a;
}

.header-style-2 .sticky-header,
.header-style-3 .sticky-header {
  background: #f0fbff;
}
.call {
  color: #000;
}
.bg-dark {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #000;
}

.title {
  padding-top: 40px;
}

.sectionHeading {
  margin: 1rem 0;
  font-weight: 600 !important;
  font-size: 40px !important;
  color: #000 !important;
}
.address-widget {
  padding-bottom: 20px;
}
.link-widgets a {
  color: #131e4a;
  font-weight: 500;
}

li.psklcs {
  padding-top: 10px;
}

/*--------------------------------------------------------------




 .service-link-widget-area.widget.text-widget {
                color: #2b2b2b;
                font-weight: 400;
            }

            .service-link-widget-area.widget.text-widget li {
                list-style: none;
                padding-block-end: 5px; }

            

/*-------------------------------------------------------------- */
.header-style-1 .search-contact,
.header-style-2 .search-contact,
.header-style-3 .search-contact {
  position: absolute;
  right: 15px;
  top: 0;
  height: 111px;
  line-height: 111px;
}
h2.text-center.sectionHeading.mb-3 {
  color: #000;
}

.site-header #navbar ul {
  list-style: none;
  padding-left: 0;
}

.site-header #navbar li {
  position: relative;
}

.header-style-1 #navbar > ul > li > a,
.header-style-2 #navbar > ul > li > a,
.header-style-3 #navbar > ul > li > a {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  padding: 45px 15px;
  text-transform: uppercase;
}

body {
  font-family: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', fantasy, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;", sans-serif !important;
}

h2.text-center {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', fantasy, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 20px;
}

#aboutsolarpanel p {
  padding-bottom: 20px;
}

section#aboutsolarpanel {
  padding-bottom: 100px;
}

h2.innertitle {
  padding: 20px 0;
}

#aboutsolarpanel ul li {
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .call img {
    width: 40px;
  }

  .navbar-brand img {
    max-width: 100px !important;
    padding: 10px 0;
  }

  main {
    padding-top: 0px !important;
  }

  .navbar {
    margin-top: 0 !important;
  }
}
